<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .nav-wrapper {
            background-color: violet;
        }
    </style>
</head>
<body>
    <nav>
    <div class="nav-wrapper">
        <a href="{% url 'Home' %}" class="brand-logo">Portfolio Website</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'projects'%}">Projects</a></li>
        <li><a href="{% url 'languages' %}">Languages</a></li>
        </ul>
    </div>
    </nav>    
</body>
</html>
